<div class="row">
    <button onClick="init();">Start video</button>
</div>
<div class="row">
    <div class="col">
        <div style="display:none">
            <video id="sourcevid" autoplay="true" loop="true">
                <source src="assets/video/scratch-robot-720.mp4" type="video/mp4" />
            </video>
            <canvas id="sourcecopy" width="1280" height="720"></canvas>
        </div>
        <div>
            <div style="z-index:1;position:relative;text-align:center;font-size:16px;font-weight:bold;width:1000px;top:60px;">Click video to blow it up!</div>
            <canvas id="output" width="1000" height="600" onmousedown="dropBomb(event, this)"></canvas>
        </div>
    </div>
    <div class="col darkbot-textcolor">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent condimentum suscipit risus, eu sodales sem aliquet eu.
        Nullam sagittis ut lorem sit amet tempus. Aliquam vestibulum tristique eros, quis sollicitudin nulla lacinia at.
        Proin tempor leo id nibh volutpat, quis faucibus eros laoreet. Duis consectetur sit amet nulla ac rhoncus. Interdum
        et malesuada fames ac ante ipsum primis in faucibus. Proin mattis hendrerit felis nec posuere. Nam viverra ligula
        vitae purus mollis laoreet. Vestibulum odio ipsum, finibus nec ullamcorper nec, faucibus ut nibh. Fusce accumsan
        ac nulla semper vestibulum. Curabitur id gravida quam, vel congue erat. Cras volutpat eros ex, gravida sollicitudin
        tellus auctor sed. Aliquam tortor diam, varius et tempor sit amet, vulputate aliquam augue. Donec gravida nisi vitae
        lectus tincidunt convallis. Morbi mollis nulla at nisi volutpat dapibus. Mauris sagittis dolor vel dictum porta.
        Pellentesque ex nibh, tincidunt at mattis quis, consectetur ac justo. Praesent suscipit, augue id tempor ornare,
        ante lorem pharetra neque, et elementum ligula lacus vel quam. Donec eleifend condimentum lorem, luctus ultrices
        turpis. Sed condimentum lacus nisl, at congue neque tempus et. Morbi a rutrum tellus, vitae placerat eros. In hac
        habitasse platea dictumst. In ut sagittis sem. Suspendisse nec hendrerit justo, in dictum urna. Vivamus non volutpat
        eros, in porta purus. Integer sed laoreet ligula. Cras ut libero nec massa suscipit accumsan.
    </div>
</div>