<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse fixed-top">
  <a class="navbar-brand" href="#">Drop-Portal</a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
  
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsExampleDefault">
    
    <ul class="navbar-nav mr-auto">

      <li *ngFor="let menu of menuLeft" ngbDropdown class="nav-item dropdown">
        
        <span ngbDropdownToggle class="nav-link dropdown-toggle cursor-pointer" id="dropdown01"  translate>{{menu.libelle}}</span>
        
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a *ngFor="let submenu of menu.submenus" class="dropdown-item" routerLink="{{submenu.url}}" translate>{{submenu.libelle}}</a>
        </div>

      </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li ngbDropdown class="nav-item dropdown">
        
        <span ngbDropdownToggle class="nav-link dropdown-toggle cursor-pointer" id="dropdown01"  translate><img src="assets/langs/{{'NAVBAR_RIGHT_LANGUES_CURRENT_SHORT' | translate}}.gif"> NAVBAR_RIGHT_LANGUES_CURRENT</span>
        
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <span class="dropdown-item cursor-pointer" (click)="switchLanguage('fr')" translate><img translate src="assets/langs/{{'NAVBAR_RIGHT_LANGUES_FR_SHORT' | translate}}.gif"> NAVBAR_RIGHT_LANGUES_FR</span>
          <span class="dropdown-item cursor-pointer" (click)="switchLanguage('en')" translate><img translate src="assets/langs/{{'NAVBAR_RIGHT_LANGUES_EN_SHORT' | translate}}.gif"> NAVBAR_RIGHT_LANGUES_EN</span>
        </div>

      </li>
    </ul>

  </div>
</nav>