<nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed"
          aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">DROP - PORTAL</a>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <div class="navbar-nav mr-auto">

        <span *ngFor="let menu of menuLeft" ngbDropdown class="nav-item dropdown">
            
            <span ngbDropdownToggle class="nav-link dropdown-toggle cursor-pointer" id="dropdown01"  translate>{{menu.libelle}}</span>
            
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <a *ngFor="let submenu of menu.submenus" class="dropdown-item" routerLink="{{submenu.url}}" translate>{{submenu.libelle}}</a>
            </div>
    
          </span>

    </div>

    <div class="navbar-nav navbar-right mr-auto">
        <span ngbDropdown class="nav-item dropdown">
            
            <span ngbDropdownToggle class="nav-link dropdown-toggle cursor-pointer" id="dropdown01"  translate><img src="assets/langs/{{'NAVBAR_RIGHT_LANGUES_CURRENT_SHORT' | translate}}.gif"> NAVBAR_RIGHT_LANGUES_CURRENT</span>
            
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
              <span class="dropdown-item cursor-pointer" (click)="switchLanguage('fr')" translate><img translate src="assets/langs/{{'NAVBAR_RIGHT_LANGUES_FR_SHORT' | translate}}.gif"> NAVBAR_RIGHT_LANGUES_FR</span>
              <span class="dropdown-item cursor-pointer" (click)="switchLanguage('en')" translate><img translate src="assets/langs/{{'NAVBAR_RIGHT_LANGUES_EN_SHORT' | translate}}.gif"> NAVBAR_RIGHT_LANGUES_EN</span>
            </div>
    
          </span>
    </div>

  </div>

</nav>
