
<div class="row padding-top-5">
  <div class="col greenbot-textcolor text-left padding-left-20">
    <audio class="ghost" controls>
      <!--<source src="/assets/audio/destinazione_altrove_-_Paint_The_Sky.mp3" autoplay="autoplay" controls="true" type="audio/mp3"
      /> Votre navigateur ne supporte pas la balise AUDIO.-->
    </audio>
  </div>
  <div class="col darkbot-textcolor text-right padding-right-20">
    <i class="fab fa-twitter-square fa-2x"></i>
  </div>
</div>
<div class="row">
    <div class="col greenbot-textcolor">
        <div class="row text-right">
            <div class="col text-right">
                <h1>DROP</h1>
            </div>
        </div>
    </div>
    <div class="col darkbot-textcolor">
        <h1>PORTAL</h1>
    </div>
</div>
